<?xml version="1.0" encoding="utf-8" ?>
<!--
*   Copyright 2023 Robert Koifman
*
*   Licensed under the Apache License, Version 2.0 (the "License");
*   you may not use this file except in compliance with the License.
*   You may obtain a copy of the License at
*
*   http://www.apache.org/licenses/LICENSE-2.0
*
*   Unless required by applicable law or agreed to in writing, software
*   distributed under the License is distributed on an "AS IS" BASIS,
*   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
*   See the License for the specific language governing permissions and
*   limitations under the License.
-->
<configuration>
  <configSections>
    <section name="tracker" type="Softnet.Tracker.TrackerConfig, Softnet.Tracker"/>
    <section name="balancer" type="Softnet.Tracker.BalancerConfig, Softnet.Tracker"/>
  </configSections>  
  
  <connectionStrings>
    <add name="Softnet" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=Softnet;Integrated Security=SSPI;Persist security info=False; Trusted_Connection=Yes;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <tracker trackerId="1" capacity="10000" maxPendingConnections="100" >
    <managementEndpoint IP="127.0.0.1" port="300" />
    <proxyServers>
      <proxyServer serverId="1" secretKey="f29f16b1-e52c-439c-9b82-7520b3bed9f5"  IPv4="127.0.0.1"/>
    </proxyServers>
  </tracker>
  
  <balancer serverName="127.0.0.1" maxConnections="100" />
</configuration>